body {
    font-family: 'Roboto', Arial, sans-serif;
}

header {
    background-color: #004085;
}

footer {
    background-color: #003366;
}

.card {
    border: none;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.05);
}
